TURNSTILE_APP_NAME=Turnstile
TURNSTILE_ENV=development
TURNSTILE_CELERY_BROKER_URL=redis://redis:6379/0
TURNSTILE_CELERY_RESULT_BACKEND=redis://redis:6379/1
TURNSTILE_RUNTIME_MODE=noop
TURNSTILE_STUB_TASK_DELAY_S=0.2
